%h2
  = @book.title
%h3
  = @book.author
%h4
  = @book.description

= link_to 'Back', root_path
|
= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure you want to delete this book?' }
